.navbar {
    border-bottom: 2px solid black;
    padding: 1rem;
    margin-bottom: 2.5rem;

    .icon-link {
        display: inline-block;
        border: 2px solid #4cb69f;
        border-radius: 100%;
        padding: 0.5rem;
        height: 1.75rem;
        width: 1.75rem;
        transition: border-color 0.25s;

        &:hover,&:active,&:focus {
            border-color: #ddd;
        }
    }
}
