@font-face {
    font-family: Octarine-Light;
    src: url(../../static/Octarine-Light.otf);
}

@media (max-width: 850px) {
    .bm-burger-button {
        display: block !important;
    }

    .bm-menu {
        display: block !important;
    }

    .bm-overlay {
        display: block !important;
    }

    .bm-cross-button {
        display: block !important;
    }
}

@media (max-width: 550px) {
    .bm-burger-button {
        right: 25px !important;
    }

    .bm-cross-button {
        margin-right: 1rem !important;
    }
}

/* Position and sizing of burger button */
.bm-burger-button {
    display: none;
    position: fixed;
    width: 24px;
    height: 20px;
    right: 40px;
    top: 20px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: white;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    display: none;
    margin-top: -1rem;
    margin-right: 1.5rem;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /* General sidebar styles */
  .bm-menu {
    display: none;
    background: linear-gradient(#464646, #2f2f2f);
    margin-top: -2rem;
    padding: 1.25rem 1rem 0;
    font-size: 1rem;
    font-family: Octarine-Light;
    letter-spacing: 1px;
    font-weight: bold;
    height: 27rem !important;
    border-radius: 5px;
  }

  .bm-menu-wrap {
    height: 27rem !important;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.25rem 0.8rem;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
    color: tomato;
    margin-bottom: 1.25rem;
  }

  .bm-item-white {
    color: white;
    font-variant: small-caps;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    top: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.3);
  }

  .burger-menu-gamepad-svg {
    margin: 0;
    width: 25px;
    transform: rotate(-30deg);
  }