$sans-serif: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;

.share-button {
    display: flex;
    flex-flow: row nowrap;
    margin: 1rem 0;
    cursor: pointer;
    width: max-content;

    &:hover, &:active, &:focus {
        .text, .icon {
            opacity: 0.65;
        }
    }

    .icon {
        margin: 0 0.5rem 0 0;
        transition: opacity 0.25s;

        .icon-facebook-squared {
            color: #3b5998;
        }

        .icon-twitter-squared {
            color: #00aced;
        }

        .icon-reddit-alien {
            color: #ff4500;
        }

        .icon-mail, .icon-link-1 {
            color: #666;
        }
    }

    .text {
        margin: 0;
        font-size: 0.75rem;
        font-family: $sans-serif;
        font-weight: 900;
        color: #333;
        transition: opacity 0.25s;

        &.green {
            color: #4cb69f;
        }
    }
}