@media screen and (max-width: $tablet) {
    .reverse-column-order {
        display: flex;
        flex-direction: column-reverse;
    }
    .navbar {
        margin-bottom: 1rem !important;
    }
    .blog-post-date-author {
        margin-bottom: 1.25rem;
    }
    .menu.box {
        box-shadow: none !important;

        hr {
            margin: 1rem 0 !important;
        }
        .menu-label {
            padding: 0 !important;
        }
    }
    .blog-post {
        h1 {
            font-size: 2rem !important;
        } 
        .content {
            h2 {
                font-size: 1.75rem !important;
                margin: 2rem 0 !important;
            }
            h3 {
                font-size: 1.5rem !important;
                margin: 1.5rem 0 !important;
            }
            h4 {
                font-size: 1.25rem !important;
                margin: 1.25rem 0 !important;
            }
            h5, h6 {
                font-size: 1rem !important;
                margin: 1.25rem 0 !important;
            }
        }
    }
}


.field {
    .button {
        border-radius: 6px !important;
    }
}

.has-letter-spacing-1 {
    letter-spacing: 1px;
}

.navbar {
    margin-bottom: 2rem;
    .container {
        max-width: 1050px;
    }
}

.blog-post {
    .container {
        margin-bottom: 2rem;
    }
    .header-hr {
        height: 1px;
        background-color: $off-tomato;
        // box-shadow: 0 7px 0 #ffb8ab
    }
    .subtitle {
        margin-bottom: 0 !important;
    }
    .featured-image {
        margin-bottom: 2rem;
        border-radius: 6px;
        box-shadow: whitesmoke 0px 2px 0px 0px;
    }
    .tags {
        margin: 2rem 0 !important;
    }
    .tag {
        a:hover {
            color: tomato !important;
        }
        
    }
    .content {
        margin-bottom: 2rem;
        a {
            color: $off-tomato;
        }
    }
}

.menu {
    &.box {
        padding: 1.25rem 0;
        box-shadow: 0 0 0 1px $off-tomato;
    }
    a {
        padding: 1rem 1.25rem !important;
        border-radius: 0 !important;
    }
    hr {
        height: 1px;
        margin: 1rem !important;
        background-color: $off-tomato;
    }
    .sidebar-post-title {
        margin-bottom: 0.5rem;
        line-height: 1.35rem;
    }
    .menu-label {
        padding-left: 1.25rem;
    }
}

.has-text-tomato {
    color: $off-tomato !important;
}

.blog-post-date-author {
    .by-author {
        display: flex;
    }
}