.field {
    .button {
        border-radius: 6px !important;
    }
}

.has-letter-spacing-1 {
    letter-spacing: 1px;
}

.navbar {
    margin-bottom: 2rem;
    .container {
        max-width: 1050px;
    }
}

.blog-post {
    .container {
        margin-bottom: 2rem;
    }
    .header-hr {
        background-color: #ff8d79;
    }
    .subtitle {
        margin-bottom: 0 !important;
    }
    .featured-image {
        margin-bottom: 2rem;
        border-radius: 6px;
        box-shadow: whitesmoke 0px 2px 0px 0px;
    }
    .tags {
        margin: 2rem 0 !important;
    }
    .tag {
        a:hover {
            color: tomato !important;
        }
        
    }
    .content {
        margin-bottom: 2rem;
        a {
            color: tomato;
        }
    }
}

.menu {
    a {
        padding: 1rem 1.25rem !important;
        border-radius: 0 !important;
    }
    hr {
        margin: 1rem 0 !important;
    }
    .sidebar-post-title {
        margin-bottom: 0.5rem;
        line-height: 1.35rem;
    }
    .menu-label {
        padding-left: 1.25rem;
    }
    &.box {
        padding: 1.25rem 0;
    }
}

.has-text-tomato {
    color: tomato !important;
}

.blog-post-date-author {
    .by-author {
        display: flex;
        // flex-flow: row nowrap;
    }
}