a {
    color: #212529;

    h6:hover {
        text-decoration: underline;
    }
}

a:hover {
    text-decoration: none;
    color: inherit
}

.nav-link {
    a {
        color: #666;
        margin-right: 0.5rem;
        &:hover {
            color: #ff8d79;
        }
    }
}

hr {
    border-top: 1px solid whitesmoke;
}

blockquote {
    border-color: #ff8d79;
    margin: 2rem 0;
    padding: 1rem 1.5rem;
    line-height: 1.75rem;
}