a {
    color: #212529;
}

a:hover {
    text-decoration: none;
    color: inherit
}

hr {
    border-top: 1px solid whitesmoke;
    margin: 1.75rem 0 !important;
}

// button {
//     margin: 0 0.5rem 0.5rem 0 !important;
// }